
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>@ViewBag.Mensagem</h2>

<h2>@ViewData["Mensagem2"]</h2>

@await Component.InvokeAsync("Noticias", new { total = 3, noticiasUrgentes = false })

<vc:noticias noticias-urgentes="true" total="5">

</vc:noticias>

<img src="~/russia-kremlin-getty.jpg" asp-append-version="true" />\
@*<select asp-></select>*@
<a asp-action="novidades"  asp-controller="noticias">Secao de noticias</a>

<email mail-to="rodolfo"></email>

<a   href="#">content</a>